[submodule "assets/GildedRose-Refactoring-Kata"]
	path = assets/GildedRose-Refactoring-Kata
	url = https://github.com/emilybache/GildedRose-Refactoring-Kata
[submodule "ReCodeAgent"]
	path = assets/ReCodeAgent
	url = https://github.com/Intelligent-CAT-Lab/ReCodeAgent
